h1{
    font-size: 60px;
    font-family: 'Edu Tas Beginner', sans-serif;
}
header{
    background-image: url("/img/wall.png")
}
main{
    background-image: url("/img/cork.png")
}

.card{
    position: relative;
}
.pin-rosso{
    width: 8%;
    position: absolute;
    top: -1%;
    left: 48%;
}
.card-text{
    font-family: 'Sometype Mono', monospace;
}
.card-title{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 20px;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
}
.overlay img{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
}
#close{
    position: absolute;
    left: 48%;
    top: 20%;
    font-size: large;
}