h1{
    font-size: 60px;
    font-family: 'Edu Tas Beginner', sans-serif;
}
header{
    background-image: url("/img/wall.png")
}
main{
    background-image: url("/img/cork.png")
}
.container img{
    transition: 0.2 ease, box-shadow 0.2 ease;
    cursor: pointer;
}
.container img:hover{
transform: scale(1.1) rotate(10deg);
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
.card{
    position: relative;
}
.pin-rosso{
    width: 8%;
    position: absolute;
    top: -1%;
    left: 48%;
}
.card-text{
    font-family: 'Sometype Mono', monospace;
}
.card-title{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 20px;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}
.overlay img{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
}

#close{
    position: absolute;
    left: 48%;
    top: 20%;
    font-size: large;
}